<!DOCTYPE html>

<html lang="en-us">
  <head>
    <!-- OPL Demos Google Analytics -->
    <script>
      (function (i, s, o, g, r, a, m) {
        i["GoogleAnalyticsObject"] = r;
        (i[r] =
          i[r] ||
          function () {
            (i[r].q = i[r].q || []).push(arguments);
          }),
          (i[r].l = 1 * new Date());
        (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(
        window,
        document,
        "script",
        "//www.google-analytics.com/analytics.js",
        "ga"
      );
      ga("create", "UA-3920997-4", "auto");
      ga("send", "pageview");
    </script>

    <!-- Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>E-ishtihaar</title>
    <meta name="description" content="" />
    <meta name="robots" content="noindex, nofollow" />

    <!-- The compiled CSS file -->
    <link rel="stylesheet" href="css/production.css" />

    <!-- Web fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Karla:400,700"
      rel="stylesheet"
    />

    <!-- favicon.ico. Place these in the root directory. -->
    <link rel="shortcut icon" href="favicon.ico" />
  </head>

  <body>
    <!-- Header -->
    <header class="pt2 pb1 align--center">
      <div class="container">
        <h1 style="margin-top:-5px;" title="Camp Chippewa">
          CHOSE YOUR TEMPLATE
        </h1>
      </div>
    </header>

    <!-- Body -->
    <main>
      <div class="container">
        <!-- Info -->
        <section style="padding-top:70px;"class="grid-row grid-row--center">
          <div class="grid-column span-half pt3 pb3 mobile-m order-2">
            <a style="text-decoration: none" href="1/index.html">
              <h3>STANDARD</h3>
            </a>
            <p>
              Standard gives you a basic yet catchy and professional look to
              your Pamphlet.
            </p>
          </div>
          <!-- Teepees -->
          <div class="grid-column span-half pt3 pb3 mobile-m order-4">
            <a
              style="text-decoration: none"
              href="3/index.html"
            >
              <h3>MODERN</h3>
            </a>
            <p>Modern gives you a free, modern, professtional Pamphlet.</p>
          </div>
        </section>
      </div>
    </main>

    <!-- Footer -->
    <footer class="pt2 pb2">
      <div style="padding-top:90px;"class="container align--center ">
        <p>Developed & Design by Team Ramen</p>
      </div>
    </footer>
  </body>
</html>
