<html>
<head>
	<title>E-ISTIHAAR</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="css/scroll.css"> -->
	<link rel="stylesheet" type="text/css" href="css/column_scroll.css">
	<link href='https://fonts.googleapis.com/css?family=Amarante' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="css/thin_scroll.css">
	<link rel="stylesheet" type="text/css" href="css/theme.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" type='text/css'>
	<meta name="description" content="Online document editor like interface to create and save Resume">
	<meta name="keywords" content="resume,cv,maker,creator,generator,nitw,warangal,nit warangal,projects,computer science">
</head>

<body style="background-color: black;">
<div style="background-color: black;" class="container-fluid">
	<div style="background-color: black;" class="row">
		<div style="background-color: black;" class="col-sm-3 no-print" id="left">
			<div style="background-color: black;" id="panel">
					<h3 class="text-center" data-toggle="modal">E-Pamphlet</h3>
				<button style="background-color: #301934;outline-color: #301934;border-color: white;"class="btn btn-block btn-success" onclick="window.print()">PRINT AS PDF</button>

				<hr>

				<h4 class="text-center">Template settings</h4>
				<button id="defaultTemplateBtn" class="btn btn-block btn-danger" onclick="template('default');">Use Basic template</button>
				<button id="customTemplateBtn" class="btn btn-block btn-default" onclick="template('custom');">Use custom template</button>
				<h5>
					Horizontal margin
					<div class="toggle-button">
						<div class="toggle-option" data-toggle="margin" id="margin1">1</div>
						<div class="toggle-option" data-toggle="margin" id="margin2">2</div>
						<div class="toggle-option" data-toggle="margin" id="margin3">3</div>
						<div class="toggle-option selected" data-toggle="margin" id="margin4">4</div>
						<div class="toggle-option" data-toggle="margin" id="margin5">5</div>
						<div class="toggle-option" data-toggle="margin" id="margin6">6</div>
					</div>
				</h5>
				<h5>
					Line spacing
					<div class="toggle-button">
						<div class="toggle-option" data-toggle="line" id="line1">1</div>
						<div class="toggle-option" data-toggle="line" id="line2">2</div>
						<div class="toggle-option" data-toggle="line" id="line3">3</div>
						<div class="toggle-option selected" data-toggle="line" id="line4">4</div>
						<div class="toggle-option" data-toggle="line" id="line5">5</div>
						<div class="toggle-option" data-toggle="line" id="line6">6</div>
					</div>
				</h5>
				<br>

				<div id="customTemplateOptions">
					<h5>
						Font type
						<div class="toggle-button">
							<div class="toggle-option" data-toggle="font" id="fontVerdanaSans">1</div>
							<div class="toggle-option" data-toggle="font" id="fontMonospace">2</div>
							<div class="toggle-option" data-toggle="font" id="fontRoboto">3</div>
							<div class="toggle-option selected" data-toggle="font" id="fontDroid">4</div>
						</div>
					</h5>
					<h5>
						Title case
						<div class="toggle-button">
							<div class="toggle-option selected" data-toggle="case" id="caseNormal">Default</div>
							<div class="toggle-option" data-toggle="case" id="caseUpper">Uppercase</div>
						</div>
					</h5>
					<h5>
						Title style
						<div class="toggle-button">
							<div class="toggle-option selected" data-toggle="title" id="titleRuled">Ruled</div>
							<div class="toggle-option" data-toggle="title" id="titleShaded">Shaded</div>
						</div>
					</h5>
					<br>
					<br>
				</div>

				<h5>
					<a href="E-istihaar/FormPage/index.html" class="btn btn-sm btn-block btn-primary">Generate QR-Code</a>
				</h5>

			</div>
		</div>

		<div class="col-sm-9 text-center" id="right">

			<div id="page" class="droid">

				<div class="row" style="margin-bottom:10px;">
				<div class="col-sm-12">
					<div id="info" style="text-align: center; padding-top:40px; padding-bottom: 15px;">
						<p id="contentName" style="font-family: 'Amarante'; font-size: 60px;">Abc xyz</p>
					</div>
					<div id="contact">
						<p>xyz.xyz@gmail.com | +91-9999999999</p>
					</div>
				</div>
				</div>

				<div class="section" id="sectionProjects">
					<div class="section-title ruled rule-above">
						<hr class="hr-above">
						<h4><strong>Facilities</strong></h4>
						<hr class="hr-below">
					</div>
					<ul>
					<li>
						<div>
						<div class="title">Rooms</div>
						<div class="time right">1/2/3/4</div>
						</div>
						<div>
						<div class="mentor tab"></div>
						</div>
						<div>
						<div class="text">enter some features of your rooms</div>
						</div>
					</li>
					<li>
						<div>
						<div class="title">Pricing</div>
						<div class="time right">Enter price</div>
						</div>
						<div>
						<div class="mentor tab">*Negotiable</div>
						</div>
						<div>
					</li>
					<li>
						<div>
						<div class="title">Boys/Girls</div>
						</div>
						<div>
						<div class="mentor tab">*specify male or female</div>
						</div>
						<div>
					</li>
					<li>
						<div>
						<div class="title">Location</div>
						<div class="time right">*Place google link</div>
						</div>
						<div>
						<div class="link right">--->goo.gl/link</div>
						</div>
						<div>
					</li>
					<div style="text-align: center; height:auto;max-width: 100%; ">
						<img src="qrcode.png" alt="">
					</div>
					</ul>
				</div>

				<div class="section" id="sectionCurricular">
					<div style="text-align: center;" class="section-title ruled rule-above">
						<hr class="hr-above">
						<p><strong>ADDRESS:- J.C.Bose university of science and technology, faridabad, Haryana</strong></p>
						<hr class="hr-below">
					</div>
				</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/header.js"></script>

</body>

</html>
